<header>
  <div class="nav-logo">
    <img src="../assets/chef-hat.png" alt="Logo Of the webiste" />
    <p>PERSONAL CHEIF & CATERING</p>
  </div>
  <nav class="nav-left">
    <ul>
      <li>
        <a href="#">HOME</a>
      </li>

      <li>
        <a href="#">MENU</a>
      </li>

      <li>
        <a href="#">SERVICES</a>
      </li>

      <li><a href="#">PRIVATE CHEF</a></li>
      <li><a href="#">FEATURES</a></li>
      <li><a href="#">CONTACT US</a></li>
    </ul>
  </nav>

  <!-- <nav class="nav-right"></nav> -->
</header>
