<header>
  <nav class="nav-left">
    <ul>
      <li>
        <a href="#">HOME</a>
      </li>

      <li>
        <a href="#">MENU</a>
      </li>

      <li>
        <a href="#">SERVICES</a>
      </li>
    </ul>
  </nav>

  <div class="nav-logo">
    <img src="../assets/logo.png" alt="Logo Of the webiste" />
  </div>

  <nav class="nav-right">
    <ul>
      <li><a href="#">PRIVATE CHEF</a></li>
      <li><a href="#">FEATURES</a></li>
      <li><a href="#">CONTACT US</a></li>
    </ul>
  </nav>
</header>

<div class="container">
  <div class="title">
    <h2>We Can’t Wait to Get You Started</h2>
  </div>

  <div class="fields">
    <form #myForm="ngForm" (ngSubmit)="onSubmit(myForm)">
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          placeholder="First Name *"
          autocomplete="off"
          required
          ngModel
          name="firstName"
        />
        <input
          type="text"
          class="form-control"
          placeholder="Last Name *"
          autocomplete="off"
          required
          ngModel
          name="lastName"
        />
      </div>

      <div class="form-group">
        <input
          type="tel"
          class="form-control"
          placeholder="Phone *"
          autocomplete="off"
          required
          ngModel
          name="phone"
        />
        <input
          type="email"
          email
          class="form-control"
          placeholder="Email *"
          autocomplete="off"
          required
          ngModel
          name="email"
        />
      </div>

      <div class="form-group">
        <input
          type="password"
          class="form-control"
          placeholder="Password *"
          required
          ngModel
          name="password"
        />
        <input
          type="password"
          class="form-control"
          placeholder="Comfrim Password *"
          required
          ngModel
          name="confrimPassword"
        />
      </div>

      <div class="agreement">
        <input
          type="checkbox"
          id="checkbox"
          name="checkbox"
          value="checkbox"
          autocomplete="off"
          required
          ngModel
        />
        <label for="checkbox"></label>
        <span
          >I have read and agreed the Terms, Conditions and
          <span class="primary-color">Privacy Policy</span>.</span
        >
      </div>

      <div class="form-btn">
        <app-button text="SUBMIT" [disabled]="!myForm.valid" />
      </div>
    </form>
  </div>
</div>
